<h1>Listing pickups</h1>

<table class="bordered-table zebra-striped">
 <thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th colspn="4"></th>
  </tr>
 </thead>
 <tbody>
<% @pickups.each do |pickup| %>
  <tr>
    <td><%= pickup.name %></td>
    <td><%= pickup.code %></td>
    <td><%= link_to "Deliveries", pickup_deliveries_path(pickup)%></td>
    <td><%= link_to 'Show', pickup %></td>
    <td><%= link_to 'Edit', edit_pickup_path(pickup) %></td>
    <td><%= link_to 'Destroy', pickup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
 </tbody>
</table>

<br />

<%= link_to 'New Pickup', new_pickup_path, :class => "btn info" %>
