<p id="notice"><%= notice %></p>
<% content_for :title_head, @pickup.name %>
<table class="bordered-table">
  <tbody>
    <tr>
      <td><b>Name:</b></td>
      <td> <%= @pickup.name %></td>
    </tr>
    <tr>
      <td><b>Code:</b></td>
      <td><%= @pickup.code %></td>
    </tr>
    </tbody>
</table>

<%= link_to 'Edit', edit_pickup_path(@pickup), :class=> "btn" %> 
<%= link_to 'Back', pickups_path, :class=> "btn" %>
