<%= form_for([@pickup, @delivery, @delivery_unit]) do |f| %>
  <% if @delivery_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery_unit.errors.count, "error") %> prohibited this delivery_unit from being saved:</h2>

      <ul>
      <% @delivery_unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manufacturer %><br />
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label :unit_model %><br />
    <%= f.text_field :unit_model %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc, :size => "20x8" %>
  </div>
  <div class="field">
    <%= f.label :prefix_serial %><br />
    <%= f.text_field :prefix_serial %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
