<h1>Listing delivery_units</h1>

<table class="bordered-table zebra-striped">
 <thead>
  <tr>
    <th>Manufacturer</th>
    <th>Unit model</th>
    <th>Desc</th>
    <th>Prefix serial</th>
    <th colspn="3">Actions</th>
  </tr>
 </thead>
 <tbody>
<% @delivery_units.each do |delivery_unit| %>
  <tr>
    <td><%= delivery_unit.manufacturer %></td>
    <td><%= delivery_unit.unit_model %></td>
    <td><%= delivery_unit.desc %></td>
    <td><%= delivery_unit.prefix_serial %></td>
    <td><%= link_to 'Show', pickup_delivery_delivery_unit_path(@pickup, @delivery, delivery_unit) %></td>
    <td><%= link_to 'Edit', edit_pickup_delivery_delivery_unit_path(@pickup, @delivery,delivery_unit) %></td>
    <td><%= link_to 'Destroy', pickup_delivery_delivery_unit_path(@pickup, @delivery,delivery_unit), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
 </tbody>
</table>

<br />

<%= link_to 'New Delivery unit', new_pickup_delivery_delivery_unit_path(@pickup, @delivery), :class => "btn info" %>
