<p id="notice"><%= notice %></p>
<table class="bordered-table">
  <tbody>
    <tr>
      <td><b>Manufacturer:</b></td>
      <td><%= @delivery_unit.manufacturer %></td>
    </tr>
    <tr>
      <td><b>Unit model:</b></td>
      <td><%= @delivery_unit.unit_model %></td>
    </tr>
    <tr>
      <td><b>Desc:</b></td>
      <td><%= @delivery_unit.desc %></td>
    </tr>
    <tr>
      <td><b>Prefix serial:</b></td>
      <td><%= @delivery_unit.prefix_serial %></td>
    </tr>
    <tr>
      <td><b>Delivery:</b></td>
      <td><%= @delivery_unit.delivery %></td>
    </tr>
    
  </tbody>
</table>


<%= link_to 'Edit', edit_delivery_unit_path(@delivery_unit) %> |
<%= link_to 'Back', delivery_units_path %>
