<%= form_for([@pickup, @delivery]) do |f| %>
  <% if @delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
      <% @delivery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :transfer_no %><br />
    <%= f.text_field :transfer_no %>
  </div>
  <div class="field">
    <%= f.label :ordered_by %><br />
    <%= f.text_field :ordered_by %>
  </div>
  <div class="field">
    <%= f.label :delivery_note %><br />
    <%= f.text_area :delivery_note, :size => "20x8" %>
  </div>
  <div class="field">
    <%= f.label :po_no %><br />
    <%= f.text_field :po_no %>
  </div>
  <div class="field">
    <%= f.label :deliver_date %><br />
    <%= f.date_select :deliver_date %>
  </div>
  <div class="field">
    <%= f.label :pickup %><br />
    <%= f.text_field :pickup_id %>
  </div>
  <div class="field">
    <%= f.label :phone_no %><br />
    <%= f.text_field :phone_no %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :size => "20x8" %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn" %>
  </div>
<% end %>
