<h1>Listing deliveries</h1>

<table class="bordered-table zebra-striped" width="680px;">
 <thead>
  <tr>
    <th>Transfer no</th>
    <th>Ordered by</th>
    <th>Delivery note</th>
    <th>Po no</th>
    <th>Deliver date</th>
    <th>Phone no</th>
    <th colspn="4"></th>
   
  </tr>
 </thead>
 <tbody>
<% @deliveries.each do |delivery| %>
  <tr>
    <td><%= delivery.transfer_no %></td>
    <td><%= delivery.ordered_by %></td>
    <td><%= delivery.delivery_note %></td>
    <td><%= delivery.po_no %></td>
    <td><%= delivery.deliver_date %></td>
    <td><%= delivery.phone_no %></td>
     <td><%= link_to "Units", pickup_delivery_delivery_units_path(@pickup, delivery) %></td>
    <td><%= link_to 'Show', pickup_delivery_path(@pickup, delivery) %></td>
    <td><%= link_to 'Edit', edit_pickup_delivery_path(@pickup, delivery) %></td>
    <td><%= link_to 'Destroy', pickup_delivery_path(@pickup, delivery), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Delivery', new_pickup_delivery_path(@pickup), :class => "btn info" %>
