<p id="notice"><%= notice %></p>
<table class="bordered-table">
  <tbody>
    <tr>
      <td><b>Transfer no:</b></td>
      <td><%= @delivery.transfer_no %></td>
    </tr>
    <tr>
      <td><b>Ordered by:</b></td>
      <td><%= @delivery.ordered_by %></td>
    </tr>
    <tr>
      <td><b>Delivery note:</b></td>
      <td><%= @delivery.delivery_note %></td>
    </tr>
    <tr>
      <td><b>Po no:</b></td>
      <td><%= @delivery.po_no %></td>
    </tr>
    <tr>
      <td><b>Deliver date:</b></td>
      <td><%= @delivery.deliver_date %></td>
    </tr>
    <tr>
      <td><b>Pickup:</b></td>
      <td><%= @delivery.pickup %></td>
    </tr>
    <tr>
      <td><b>Phone no:</b></td>
      <td><%= @delivery.phone_no %></td>
    </tr>
    <tr>
      <td><b>Address:</b></td>
      <td><%= @delivery.address %></td>
    </tr>
  </tbody>
</table>



<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
