<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @web_mode_sign_on.name %>
</p>

<p>
  <b>Password:</b>
  <%= @web_mode_sign_on.password %>
</p>


<%= link_to 'Edit', edit_web_mode_sign_on_path(@web_mode_sign_on) %> |
<%= link_to 'Back', web_mode_sign_ons_path %>
